html {
  height: 100%;
  width: 100%;
}
body {
  position: relative;
  height: 90%;
  padding-right: 60px;
  /*width: 80%;*/
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
li {
  margin: 5px auto;
  padding-left: 10px;
  cursor: pointer;
}
li:hover {
  background-color: #6ac9e8;
}
.map {
  height: 100%;
  width: 100%;
}
#marker {
  width: 20px;
  height: 20px;
  border: 1px solid #088;
  border-radius: 10px;
  background-color: #0FF;
  opacity: 0.5;
}
.popover-content {
  min-width: 180px;
}
#id-delete-feature {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 120px;

}
.rightmouseclick {
  /*display: none;*/
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  /*height: 350px;*/
  background-color: lightblue;
}
.ol-attribution > ul > li > a {
  display: none;
}
.zoom-plugins {
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    top: 28rem;
    left: .5rem;
    position: absolute;
    padding: 2px;
    border-radius: 4px;
    position: absolute;
    background-color: rgba(255,255,255,.4);
    border-radius: 4px;
    padding: 2px;
    margin-left: .4rem;
}
.zoom-btn {
    display: block;
    margin: 1px;
    padding: 0;
    color: #fff;
    font-size: 1em;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
    height: 1.5em;
    width: 2.2em;
    line-height: .4em;
    background-color: rgba(0,60,136,.5);
    border: none;
    border-radius: 2px;
}
.zoom-btn:hover {
    background-color: rgba(0,60,136, 0.7);
}
#id-range-rotate {
  position: absolute;
  top: 5px;
  left: 50px;
  width: 200px;
}
