@charset "UTF-8";
@import "base";
@mixin input-placeholder($color:gray) {
  input::-webkit-input-placeholder {
  color: $color;
  }
  input:-moz-placeholder {
  color: $color;
  }
  input::-moz-placeholder {
  color: $color;
  }
  input:-ms-input-placeholder {
  color: $color;
  }
}
@mixin svg {
  svg {
    @extend .my__center;
    // display: inline-block;
    width: 20px;
    height: 20px;
    @media screen and (min-width: 1920px) {
      width: 30px;
      height: 30px;
    }

    .cls-1,.cls-2 {
      stroke: $white;
    }
  }
  & {
    text-align: center;
  }
  &:hover svg {
    .cls-1,.cls-2 {
      stroke: $red;
    }
  }
}
@mixin button-close {
  position: absolute;
  right: 30px;
  top: 15px;
  width: 20px;
  height: 20px;
  background-color: $red;
  border: 0;
  border-radius: 50%;
  text-align: center;
  > div {
    // 这是里面那一横
    margin: auto;
    width: 10px;
    height: 2px;
    background-color: $white;
  }
}
