@charset "UTF-8";
// 字体
$font: "Microsoft YaHei","黑体","宋体",sans-serif;
//  颜色
$black-1: #424242;
$black-2: #757575;
$gray-1: #999999;
$gray-2: #bdbdbd;
$gray-3: #dcdcdc;
$gray-4: #e1e1e1;
$white: #f7f7f7;
$red: #ff5252;
// 背景层数
// 边框圆角的 半径
$radius: 4px;
