@charset "utf-8";
@import "variable";
@import "base";
@import 'common';
@import "mixin";

html {
  height: 100%;
  width: 100%;
}
body {
  position: relative;
  height: 95%;
  // padding-right: 60px;
}
.search {
  position: absolute;
  top: 2.7%;
  right: 45px;
  padding-left: 15px;
  padding-right: 15px;
  width: 17.7%;
  min-width: 220px;
  height: 2.7%;
  min-height: 30px;
  background: $white;
  box-shadow:0 2px 0 0 rgba(0,0,0,0.10);
  border-radius:98px;
  input {
    width: 100%;
    height: 100%;
    background: $white;
  }
  svg {
    position: absolute;
    right: 0;
    top: 0;
    padding: 7px;
    height: 100%;
    .cls-1 {
      stroke: $black-1;
    }
    cursor: pointer;
  }
}
// 右键菜单部分
ul.geometry_menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  top: 14.6%;
  right: 25px;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 40px;
  height: 320px;
  @media screen and (min-width: 1920px) {
    width: 60px;
    height: 480px;
  }
  // width: 2.08%;
  // min-width: 40px;
  background-color: $black-1;
  border-radius:2px;
  li {
    position: relative;
    width: 100%;
    height: calc(1 / 8 * 100%);
    margin: auto;
    color: $white;
    cursor: pointer;
    text-align: center;
    @include svg;
  }
  li:nth-of-type(1) svg {
    margin-top: 7px;
  }
}

// 颜色选择
// 注释
// 删除
.function-list {
  position: absolute;
  top: calc(14.6% + 330px);
  right: 25px;
  width: 40px;
  @media screen and (min-width: 1920px) {
    width: 60px;
    top: calc(14.6% + 490px);
  }

  $list-space: 70px;
  .color-list {
    position: relative;
    margin-bottom: 8px;
    width: 40px;
    height: 40px;
    @media screen and (min-width: 1920px) {
      width: 60px;
      height: 60px;
    }
    background-color: $black-1;
    border-radius:2px;
    cursor: pointer;
    @include svg;
    &:hover svg {
      .cls-1,.cls-2 {
        stroke: $white;
      }
    }

    > ul {
      position: absolute;
      left: -500%;
      display: none;
      flex-direction: row-reverse;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 500%;
      line-height: 100%;
      // background-color: red;
      li {
        position: relative;
        margin: 0 7px;
        width: 20px;
        height: 20px;
        background:#f8691c;
        border:2px solid $white;
        border-radius:100%;
        div {
          display: none;
          width: 6px;
          height: 6px;
          border-radius: 50%;
          @extend .my__center;
          background-color: $white;
        }
        &:hover > div {
          display: block;
        }
      }
      li:nth-of-type(1) {
        background-color: #f8691c;
      }
      li:nth-of-type(2) {
        background-color: #f6a623;
      }
      li:nth-of-type(3) {
        background-color: #50e3c2;
      }
      li:nth-of-type(4) {
        background-color: #4990e2;
      }
      li:nth-of-type(5) {
        background-color: #9012fe;
      }
    }
    &:hover > ul {
      display: flex;
    }
  }
  .annotation {
    @extend .color-list;
  }
  .removefeature {
    @extend .color-list;
    // top: 2 * $list-space;
  }
}

// 注释列表
.annotation-menu {
  display: none;
  position: absolute;
  padding: 56px 34px;
  top: 20%;
  right: 80px;
  width: 300px;
  max-height: 60%;
  border:1px solid #bdbdbd;
  border-radius: 4px;
  box-shadow:0 15px 20px 0 rgba(63,48,48,0.30), inset 0 1px 2px 0 rgba(189,189,189,0.50);
  background-color: $white;
  // left: auto;
  button {
    @include button-close;
  }
  li {
    padding: 5px;
    &:hover {
      cursor: pointer;
    }
  }
  li + li {
    border-top: 1px solid $gray-2;
  }

}


.map {
  height: 100%;
  width: 100%;
}
#marker {
  width: 20px;
  height: 20px;
  border: 1px solid #088;
  border-radius: 10px;
  background-color: #0FF;
  opacity: 0.5;
}

.popover.top {
  // width: 40%;
  max-width: 580px;
  min-width: 300px;
  min-height: 200px;
  // margin: 0;
  // padding: 30px;
  background-color: $white;
  border: 1px solid $gray-2;
  border-radius: $radius;
  -webkit-box-shadow: 0 15px 40px 0 rgba(63,48,48,0.3);
  box-shadow: 0 15px 40px 0 rgba(63,48,48,0.3);
  > .popover-content {
    margin: 45px 30px 90px;
    padding: 0;
    p:nth-of-type(1) {
      margin-top: 10px;
      margin-bottom: 16px;
    }
    textarea {
      background-color: $white;
      border: 0;
      border-bottom: 1px solid $gray-2;
      width: 100%;
    }
    button:nth-of-type(1) {
      // 这是右上角的横线那个
      // 对应的 html 在 select_and_pop.js 里面
      // 函数 popMessage 里面
      // 160 行左右，popover 里面
      @include button-close;
    }
    button:nth-of-type(2) {
      position: absolute;
      right: 30px;
      bottom: 30px;
      width: 60px;
      height: 30px;
      font-size: 14px;
      background-color: $red;
      color: $white;
      border: 0;
      border-radius: 15px;
      -webkit-box-shadow: 0 2px 0 0 rgba(0,0,0,0.1);
      box-shadow: 0 2px 0 0 rgba(0,0,0,0.1);
      &:active {
        background-color: $white;
        color: $red;
      }
    }
  }
}

// #id-delete-feature {
//   display: none;
//   position: absolute;
//   top: 0;
//   right: 0;
//   width: 120px;
// }

.ol-attribution > ul > li > a {
  display: none;
}
.zoom-plugins {
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    top: 28rem;
    left: .5rem;
    position: absolute;
    padding: 2px;
    border-radius: 4px;
    position: absolute;
    background-color: rgba(255,255,255,.4);
    border-radius: 4px;
    padding: 2px;
    margin-left: .4rem;
}
.zoom-btn {
    display: block;
    margin: 1px;
    padding: 0;
    color: #fff;
    font-size: 1em;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
    height: 1.5em;
    width: 2.2em;
    line-height: .4em;
    background-color: rgba(0,60,136,.5);
    border: none;
    border-radius: 2px;
}
.zoom-btn:hover {
    background-color: rgba(0,60,136, 0.7);
}
#id-range-rotate {
  position: absolute;
  bottom: 3.7%;
  right: 23.1%;
  width: 300px;
  background:rgba(66,66,66,0);
}
// 注释部分
.btn-group {
  position: absolute;
  right: 0;
  top: 650px;
  .dropdown-menu {
    right: 0;
    left: auto;
    li + li {
      border-top: 1px solid $gray-2;
    }
  }
}
