<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>404 error page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="/static/css/404.css" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" href="/static/css/materialize.css">
</head>
<body>
    <div>
        <div>
            <nav class="barnav">
                <div class="nav-wrapper container">
                    <a href="#" class="brand-logo">DeepEye Lab</a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li><a href="/">Home</a></li>
                        <li><a href="solutions">solutions</a></li>
                        <li><a href="logout">logout</a></li>
                    </ul>
                </div>
            </nav>
        </div>

        <div class="wrap">
            <div class="content">
                <div class="logo">
                    <h1><img src="/static/images/logo.png"/></h1>
                </div>
                <div class="buttom">
                    <div class="brand_bar">
                        <span>The Page you requested was not found!</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
