<!doctype html>
<html lang="en">
  <head>
    <title>OpenLayers example</title>
    <link rel="stylesheet" href="/static/css/ol.css" type="text/css">
    <!-- <link rel="stylesheet" href="/static/css/bootstrap/bootstrap.min.css"> -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/diagnose_index.css">
    <link rel="stylesheet" href="/static/css/range.css">
    <style media="screen">
      .a {
        background-color: gray;
      }
      svg {
        width: 50px;
        height: 50px;
      }
    </style>
  </head>
  <body>
    <div id="map" class="map"></div>
    <span id="status">&nbsp;0 selected features</span>
    <div style="display: none;">
      <!-- Clickable label for Vienna -->
      <!-- <a id="vienna" class="overlay" target="_blank" href="http://en.wikipedia.org/wiki/Vienna">Vienna</a> -->
      <div id="marker" title="Marker"></div>
      <!-- Popup -->
      <div id="popup"></div>
      <div id="message"></div>
    </div>
    <input id="id-range-rotate" type="range" name="" min="-180" max="180" value="0">
    <!-- <div>矢量地图Feature总数： <span id="count"></span></div> -->
    <!-- 搜索框 -->
    <div class="search">
      <input type="text" name="" value="">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 20.3"><defs><style>.cls-1{fill:none;stroke:#424242;stroke-linecap:round;stroke-miterlimit:10;stroke-width:2px;}</style></defs><circle class="cls-1" cx="18.03" cy="12.25" r="6.1"/><line class="cls-1" x1="23.2" y1="17.5" x2="25" y2="19.3"/><line class="cls-1" x1="1" y1="1" x2="18.03" y2="1"/><line class="cls-1" x1="1" y1="7.1" x2="8.52" y2="7.1"/><line class="cls-1" x1="1" y1="13.2" x2="7.33" y2="13.2"/><line class="cls-1" x1="1" y1="19.3" x2="9.31" y2="19.3"/></svg>
    </div>
    <!-- 鼠标右键弹出菜单 -->
    <ul class="geometry_menu">
      <li data-type="Point" title="点">
        <svg data-type="Point" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.63 26"><defs><style>.cls-1,.cls-2{fill:none;stroke:#f7f7f7;stroke-linecap:round;stroke-width:2px;}.cls-1{stroke-miterlimit:10;}.cls-2{stroke-linejoin:round;}</style></defs><circle class="cls-1" cx="9.81" cy="9.81" r="8.81"/><line class="cls-2" x1="9.81" y1="18.62" x2="9.81" y2="22.73"/></svg>
      </li>
      <li data-type="LineString" title="线段">
        <svg data-type="LineString" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 4.63"><defs><style>.cls-1{fill:#fff;}.cls-1,.cls-2{stroke:#f7f7f7;stroke-linecap:round;stroke-miterlimit:10;stroke-width:2px;}.cls-2{fill:none;}</style></defs><line class="cls-1" x1="1" y1="3.62" x2="23" y2="3.62"/><line class="cls-2" x1="1" y1="3.62" x2="1" y2="1"/><line class="cls-2" x1="23" y1="3.62" x2="23" y2="1"/></svg>
      </li>
      <li data-type="Polygon" title="多边形">
        <svg data-type="Polygon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 25"><defs><style>.cls-1{fill:none;stroke:#f7f7f7;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px;}</style></defs><polygon class="cls-1" points="25 11.77 19.6 1 1 3.37 3.84 22.82 17.15 24 25 11.77"/></svg>
      </li>
      <li data-type="Circle" title="圆形">
        <svg data-type="Circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26"><defs><style>.cls-1{fill:none;stroke:#f7f7f7;stroke-linecap:round;stroke-miterlimit:10;stroke-width:2px;}</style></defs><circle class="cls-1" cx="13" cy="13" r="12"/></svg>
      </li>
      <li data-type="Box" title="矩形">
        <svg data-type="Box" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 20"><defs><style>.cls-1{fill:none;stroke:#fff;stroke-linecap:round;stroke-miterlimit:10;stroke-width:2px;}</style></defs><rect class="cls-1" x="1" y="1" width="24" height="18" rx="1" ry="1"></rect></svg>
      </li>
      <li data-type="freehand1" title="手绘">
        <svg data-type="freehand1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 20.64"><defs><style>.cls-1{fill:none;stroke:#f7f7f7;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px;}</style></defs><rect class="cls-1" x="13.83" y="1.19" width="7.64" height="14.32" rx="1" ry="1" transform="translate(11.07 -10.03) rotate(45)"/><polygon class="cls-1" points="8.27 17.73 12.99 18.41 7.59 13.01 8.27 17.73"/><path class="cls-1" d="M5.78,19.35s-2.89,1-4.13-.62C.54,17.32.73,15.23,3.11,12.66c2.12-2.29-1.27-5-1.27-5"/></svg>
      </li>
      <li data-type="regularPolygon" title="正方形">
        <svg data-type="regularPolygon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><defs><style>.cls-1{fill:none;stroke:#f7f7f7;stroke-linecap:round;stroke-miterlimit:10;stroke-width:2px;}</style></defs><rect class="cls-1" x="1" y="1" width="22" height="22" rx="1" ry="1"/></svg>
      </li>
      <li id="id-cancel-point" data-type="None" title="取消">
        <svg data-type="None" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22.48 22.48"><defs><style>.cls-1{fill:none;stroke:#424142;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px;}</style></defs><polygon class="cls-1" points="9.35 21.48 1 1 21.48 9.35 17.52 13.31 20.08 15.86 15.86 20.08 13.31 17.52 9.35 21.48"/></svg>
      </li>
    </ul>
    <!-- 其他功能列表 -->
    <div class="function-list">
      <div class="color-list" title="颜色列表">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26"><defs><style>.cls-1{fill:none;stroke:#424142;stroke-linecap:round;stroke-miterlimit:10;stroke-width:2px;}</style></defs><path class="cls-1" d="M25,13c0,3.39-4.93,2.94-7.19,5.12S16.23,25,13,25A12,12,0,1,1,25,13Z"/><circle class="cls-1" cx="7.51" cy="8.83" r="1"/><circle class="cls-1" cx="6.47" cy="15.48" r="1"/><circle class="cls-1" cx="13.69" cy="6.42" r="1"/><circle class="cls-1" cx="11.18" cy="19.61" r="1"/></svg>
        <ul>
          <li data-color="#f8691c"><div class="white_point"><div></li>
          <li data-color="#f6a623"><div class="white_point"><div></li>
          <li data-color="#50e3c2"><div class="white_point"><div></li>
          <li data-color="#4990e2"><div class="white_point"><div></li>
          <li data-color="#9012fe"><div class="white_point"><div></li>
        </ul>
      </div>

      <div id="annotation" class="annotation" title="注释列表">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 21.83 26"><defs><style>.cls-1,.cls-2{fill:none;stroke:#f7f7f7;stroke-linecap:round;stroke-width:2px;}.cls-1{stroke-linejoin:round;}.cls-2{stroke-miterlimit:10;}</style></defs><path class="cls-1" d="M17.13,13.09s0,0,0,0V7.22a6.22,6.22,0,0,0-12.44,0V13s0,0,0,0A9.89,9.89,0,0,0,1,20.8a51.45,51.45,0,0,0,19.83,0A9.89,9.89,0,0,0,17.13,13.09Z"/><path class="cls-2" d="M13.45,22.46a2.54,2.54,0,1,1-5.07,0"/></svg>
      </div>
      <!-- 删除部分 -->
      <div id="id-delete-feature" class="removefeature" title="删除">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 25.75"><defs><style>.cls-1{fill:none;stroke:#f7f7f7;stroke-linecap:round;stroke-miterlimit:10;stroke-width:2px;}</style></defs><rect class="cls-1" x="3" y="6.75" width="18" height="18" rx="1" ry="1" transform="translate(27.75 3.75) rotate(90)"/><path class="cls-1" d="M12.78-6h0a1,1,0,0,1,1,1V15a1,1,0,0,1-1,1h0a2.56,2.56,0,0,1-2.56-2.56V-3.47A2.56,2.56,0,0,1,12.78-6Z" transform="translate(16.97 -7.03) rotate(90)"/><path class="cls-1" d="M8,2.44A1.44,1.44,0,0,1,9.44,1h5.12A1.44,1.44,0,0,1,16,2.44"/><line class="cls-1" x1="12" y1="10.58" x2="12" y2="20.58"/><line class="cls-1" x1="16.81" y1="10.58" x2="16.81" y2="20.58"/><line class="cls-1" x1="7.19" y1="10.58" x2="7.19" y2="20.58"/></svg>
      </div>
    </div>
    <!-- 注释列表 独立存在 -->

    <ul class="annotation-menu">
      <button id="close-annotation" type="button" name="button"><div></div></button>
      <div class="annotation-list">

      </div>
      <!-- <li><a href="#">1</a></li>
      <li><a href="#">2</a></li> -->
    </ul>
    <!-- 缩放功能 -->
    <div class="zoom-plugins">
      <button class="zoom-btn">x2</button>
      <button class="zoom-btn">x4</button>
      <button class="zoom-btn">x8</button>
      <button class="zoom-btn">x10</button>
      <button class="zoom-btn">x20</button>
      <button class="zoom-btn">x40</button>
    </div>

    <script src="/static/js/jquery-3.2.0.min.js" charset="utf-8"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/ol-debug.js" type="text/javascript"></script>
    <script src="/static/js/xwq.js" charset="utf-8"></script>
    <!-- <script src="js/main/init.js" charset="utf-8"></script> -->
    <script type="text/javascript">

      var imgSize = [{{ width }},{{ height }}]
      // console.log('imgSize', imgSize);
      // 切出来 16 层
      // imgSize = [44957, 139277]
      // 切出来 18 层
      var tierSize;
      var tierSizeCalcule = function() {
        let [width, height] = imgSize
        let maxSize = Math.max(width, height)
        // console.log('maxSize', maxSize);
        let i = 0
        // let r = Math.pow(2, i)
        while (maxSize > Math.pow(2, i)) {
          i++
        }
        // console.log('tierSize i', i);
        tierSize = i
        let resolution_max = Math.pow(2,i)
        // console.log('resolution_max', resolution_max);
      }

      tierSizeCalcule()
      // console.log('tierSize', tierSize);

      // 确定中心
      var center = [imgSize[0]/2, -imgSize[1]/2]
      // console.log('center', center);
      // 确定边界
      var extent = [0, -imgSize[1], imgSize[0], 0];

      var zoom = 27 - tierSize
      // 这样计算得到的 zoom 会加载第 10 层
      var view = new ol.View({
          center: center,
          extent: extent,
          zoom: zoom+1,
          minZoom: zoom,
          maxZoom: 18
      })
      //创建地图
      var map = new ol.Map({
          // interactions: ol.interaction.defaults().extend([new app.Drag()]),
          controls: ol.control.defaults().extend([
            // new ol.control.FullScreen(),
            new ol.control.MousePosition(),
            // new ol.control.OverviewMap(),
            new ol.control.ScaleLine(),
          ]),
          view: view,
          target: 'map',
      });
      console.log('map.getInteractions().getArray()', map.getInteractions().getArray());
      console.log('map.getControls().getArray()', map.getControls().getArray());
      // 资源加载的时候，要调 imgSize
      imgSize[0] *= 250
      imgSize[1] *= 250
      // 添加一个使用离线瓦片地图的层
      var offlineMapLayer = new ol.layer.Tile({
          source: new ol.source.Zoomify({
            size: imgSize,
            // tierSizeCalculation: 'truncated',
            // 设置本地离线瓦片所在路径，由于例子里面只有一张瓦片，页面显示时就只看得到一张瓦片。
            url: '{{ slideurl }}/{z}/{x}_{y}.jpeg',
            // console.log('{{ slideurl }}/{z}/{x}_{y}.jpeg');
            // url: 'images/c/Leica-2_files/{z}/{x}_{y}.jpeg',
            // 注意 ol-debug.js 的源码需要修改，注释掉 ol-debug.js 的第 78088 那几行关于 URL 自动补全的那几行
          })
      });
      map.addLayer(offlineMapLayer);

    </script>
    <script src="/static/js/init.js" charset="utf-8"></script>
    <script src="/static/js/draw.js" charset="utf-8"></script>
    <script src="/static/js/select_and_pop.js" charset="utf-8"></script>
    <script src="/static/js/functionlist.js" charset="utf-8"></script>
    <script src="/static/js/flyto_and_rotate.js" charset="utf-8"></script>
    <script src="/static/js/annotation.js" charset="utf-8"></script>
  </body>
</html>
