<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="author" content="VinciXie" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" media="screen" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/login_index.css">
    <title>微瞰智能</title>
  </head>
  <body>
    <div class="my__center">
      <div class="login_box">
        <form class="" action="/login" method="post">
          <div class="login_or_register">
            <span>登录</span>
            <span>注册</span>
          </div>
          <div class="user-name">

            <input type="text" placeholder="Username" name="username" value="">
          </div>
          <div class="password">

            <input type="password" placeholder="Password" name="password" value="">
          </div>
          <div class="login-button">
            <button type="submit" name="button">登录</button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
